/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
2.rotate text section css
3.offer section css
4.Header section css 
5.Banner section css 
6.Short-service css
7.About us section css
8.Special section css
9.slide-text section css
10.Our Chef secion css
11.Most Popular item section css
12.FAT section css
13.Why people choose us section css
14.Faq section css
14.our sponsors section css
16.blog section css
17.application section css
18.CTA Section
19.How to find us section css
20. footer section css
*/
:root {
	--color-romance: #eeede8;
	--color-dark:#090b19;
	--color-deep-white: #fafbff;
	--color-storm-grey: #6e7488;
	--color-bar: rgba(195 195 195 / 15%);
	--color-ebony: rgba(9, 11, 25, 0.35);
	--color-ebony2: rgba(9, 11, 25, 0.8);
  }
@media (min-width: 1430px) {
	
}

@media (max-width: 1199.98px) and (min-width: 992px) {


}

@media (max-width: 1399.98px) {
	
}

@media (max-width: 1199.98px) {
	.title-xl {
		font-size: 55px;
	}

	.title-lg {
		font-size: 47px;
	}
	/* =================Header area start==================  */
	/* =================Header area end==================  */  
	/* offcanvs  responsive navbar */
	.responsive-navbar{
		display: block;
	  }
	.responsive-navbar .nav-link {
		position: relative;
		font-size: 16px;
		padding: 12px 0px;
		background-color: var(--color-dark);
		border-bottom: 1px solid  var(--color-bar);
	}
	.responsive-navbar .pluse-icon svg{
		height: 20px;
		width: 20px;
		transition: all 0.3s linear;
	}
	.responsive-navbar .pluse-icon.rotate-icon svg{
		rotate: 45deg;
	}
	.responsive-navbar .sub-menu{
		display: none;
		padding: 10px 20px;
	}
	.pluse-icon {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
	}
	/* header design */
	  .left-navbar {
		flex-basis: 50%;
	  }
	  .right-navbar {
		flex-basis: 50%;
	  }
	  .main-menu-wrapper{
		display: none;
	  }

	/* =================Header area end==================  */  

}

@media (max-width: 991.98px) {


/* =================Header area start==================  */
	/* title */
	.title-xl {
		font-size: 52px;
	}

	.title-lg {
		font-size: 46px;
	}
	.title-md{
		font-size: 36px;
	}
	/* header */
	
	
	
/* =================Header area end==================  */
	
}

@media (max-width: 767.98px) {


	.title-xl {
		font-size: 50px;
	}

	.title-lg {
		font-size: 45px;
	}
	.title-md{
		font-size: 32px;
	}

	.title-sm {
		font-size: 30px;
	}
	/* =================Header area start==================  */
	.left-navbar {
		flex-basis: 30%;
	  }
	  .cart-btn-info{
		display: none !important;
	}
	.rotate-text-wrapper {
		display: none !important;
	}
	/* =================Header area end==================  */  


	
}

@media (max-width: 575.98px) {
	
	.title-xl {
		font-size: 50px;
	}

	.title-lg {
		font-size: 43px;
	}

	.title-sm {
		font-size: 28px;
	}

	
}

@media (max-width: 479.98px) {
	

	.title-xl {
		font-size: 47px;
	}

	.title-lg {
		font-size: 42px;
	}

	.title-sm {
		font-size: 25px;
	}
	
	
}

@media (max-width: 383.98px) {
	.title-xl {
		font-size: 45px;
	}

	.title-lg {
		font-size: 40px;
	}

}
