/*
-------------Breakpoints--------------
1400, 1199, 991, 767, 575, 480, 360, 320
-------------Breakpoints--------------
*/

/* CSS Index
-----------------------------------
1.default section
  *------> Variables
  *------> google fonts
  *------> font family
  *------> using sub heading
  *------> using heading
  *------> Vertical Bars
  *------> heading style
  *------> title style
  *------> border
  *------> sub-title
  *------> all button style
  *------> all background color
  *------> all text color
  *------> section padding
  *------> bg-fix
  *------> accordion style
  *------> swiper slider
  *------> date picker
  *------> modal style
  *------> sticky menu
  *------> margin bottom
  *------> nice select
  *------> noUiSlider 

2.rotate text section
3.offer section
4.header area section
 *------> header offcanvas 
 *------> cart style
5.banner area section 
 *------> hot slider
5.banner area section 
 *------> hot slider
6.short services section
7.about us section
8.special section
9.slide text section
10.our chef section 
11.most popular item section
12.fat section
13.Why people choose us section
14.our sponsors section
15.blog section
16.single blog section
17.application section 
18.faq section
19.how to find us section
20.cta section
21.our history section
22.main menu section
23.single  product section
24.checkbox section
25.contact section
26.view cart section
27.thank you section
28.resrvation section 
29.footer section
*/
:root {
	--color-romance: #eeede8;
	--color-dark: #090b19;
	--color-deep-white: #fafbff;
	--color-storm-grey: #6e7488;
	--color-bar: rgba(195 195 195 / 15%);
	--color-ebony: rgba(9, 11, 25, 0.35);
	--color-ebony2: rgba(9, 11, 25, 0.8);
}

@media (min-width: 1430px) {}

@media (max-width: 1199.98px) and (min-width: 992px) {}

@media (max-width: 1399.98px) {

	/* =================5.banner area section start================== */
	.hot-deal-caption {
		display: none !important;
	}

	.hot-deal-slider-caption {
		display: block !important;
	}

	/* =================5.banner area section end================= */
}

@media (max-width: 1199.98px) {

	/* =================header area section start================== */
	/* offcanvs responsive navbar */
	.responsive-navbar {
		display: block;
	}

	.responsive-navbar .nav-link {
		position: relative;
		font-size: 16px;
		padding: 12px 0px;
		background-color: var(--color-dark);
		border-bottom: 1px solid var(--color-bar);
	}

	.responsive-navbar .pluse-icon svg {
		height: 20px;
		width: 20px;
		transition: all 0.3s linear;
	}

	.responsive-navbar .pluse-icon.rotate-icon svg {
		rotate: 45deg;
	}

	.responsive-navbar .sub-menu {
		display: none;
		padding: 10px 20px;
	}

	.pluse-icon {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
	}

	/* header design */
	.left-navbar {
		flex-basis: 50%;
	}

	.right-navbar {
		flex-basis: 50%;
	}

	.navbar::before {
		width: 50%;
	}

	.responsive-navbar .navbar::before {
		display: none;
	}

	.main-menu-wrapper {
		display: none;
	}

	/* =================header area section end================== */
	/* =================5.banner area section start================== */
	.hot-deal-caption {
		height: 150px;
	}

	.hot-deal-slider {
		height: 150px;
	}

	.hot-deal-caption .rotate {
		transform: rotate(0deg);
	}

	/* =================5.banner area section end================== */
	/* =================15.blog section start================== */
	.post-img {
		width: 100%;
	}

	/* =================15.blog section end================== */
	/* =================16.single blog section start================== */
	.author-card-wrapper {
		padding: 15px 40px;
	}

	.author-card-wrapper .social-link-wrapper h5 {
		margin-bottom: 0px !important;
	}

	.author-card-wrapper .social-link-wrapper {
		margin-top: 10px;
	}

	.author-card-wrapper p {
		margin-bottom: 0;
	}

	.author-card-img {
		text-align: center;
	}

	/* =================16.single blog section end================== */

	/* =================29.footer section start================== */
	.footer-section input {
		width: 70%;
	}

	.footer-section .submit-btn {
		width: 30%;
	}

	.about-footer-info {
		max-width: 440px;
	}

	/* =================29.footer section end================== */
}

@media (max-width: 991.98px) {

	/* title css*/
	.title-xl {
		font-size: 40px;
	}

	.title-lg {
		font-size: 32px;
	}

	.title-md {
		font-size: 24px;
	}

	.title-sm {
		font-size: 20px;
	}

	.title-xs {
		font-size: 16px;
	}

	/* section-padding */
	.section-padding {
		padding: 60px 0;
	}

	/* =================5.banner area section start================== */
	.main-title {
		font-size: 65px;
	}

	.sub-title {
		margin-bottom: 0px !important;
	}

	.hot-deal {
		width: 75%;
	}

	.hot-food-info {
		padding: 0 10px;
	}

	.hot-food-info .title-sm {
		font-size: 18px;
	}

	.price-info p br {
		display: none;
	}

	.price-info del {
		font-size: 12px;
	}

	.current-price {
		font-size: 14px;
		margin-left: 10px;
	}

	/* =================5.banner area section end================== */
	/* =================6.short services section start================== */
	.short-service-wrapper {
		border-bottom: 1px solid rgb(195 195 195 / 15%);
	}

	.hover-overlay {
		height: 250px;
		width: 250px;
		transform: translate(-250px, -250px);
	}

	.short-service-wrapper:hover .hover-overlay,
	.nav-link:hover .hover-overlay,
	.product-list-wrapper:hover .hover-overlay,
	.cw-card-wrapper:hover .hover-overlay {
		height: 1000px;
		width: 1000px;
	}

	/* =================6.short services section end================== */
	/* =================7.about us section start================== */
	.popup-video {
		top: 50%;
		left: 50% !important;
	}

	.section-title {
		flex-basis: 100%;
		margin-bottom: 20px;
	}

	.about-content {
		padding: 60px 30px;
	}

	.about-us-video {
		min-height: 300px;
	}

	/* =================7.about us section end================== */
	/* =================9.slide text section start================== */
	.slide-text-section {
		padding: 30px 0;
	}

	.slider-text-wrapper {
		font-size: 40px;
	}

	/* =================9.slide text section end================== */
	/* =================8.special section start================== */
	.right-arrow-icon {
		right: 10px !important;
	}

	.left-arrow-icon {
		left: 10px !important;
	}

	/* =================8.special section end================== */
	/* =================12.fat section start================== */
	.counter,
	.count-down,
	.counter-wrapper .counter-info .icon {
		font-size: 40px;
	}

	/* =================12.fat section end================== */
	/* =================13.Why people choose us section start================== */
	.customer-testimonial-slider {
		padding-top: 50px;
	}

	.customer-info {
		padding: 20px 30px 0 30px;
	}

	.customer-review {
		padding: 0 30px;
	}

	.customer-testimonial-slider .swiper-button-prev,
	.customer-testimonial-slider .swiper-button-next {
		height: 50px;
		width: 50%;
		left: 0;
		right: auto;
		bottom: auto;
		top: 0;
		margin: 0;
		border: 1px solid var(--color-bar);
		background-color: var(--color-dark);
	}

	.customer-testimonial-slider .swiper-button-next {
		left: auto;
		right: 0;
	}

	.customer-testimonial-slider .button-inner-text {
		rotate: 0deg;
	}

	/* =================13.Why people choose us section end================== */
	/* ================= 19.how to find us section start================== */
	.how-to-find-us-wrapper {
		padding: 44px 0;
	}
	/* ================= 19.how to find us section end================== */

	/* =================21.our history section start================== */
	.our-history-slider {
		height: 1000px;
	}

	.year-title {
		font-size: 140px;
	}

	/* =================21.our history section end================= */
	/* =================23.single  product section start==================  */
	.additional-tabs .nav-item {
		flex-basis: 50%;
	}

	/* =================23.single  product section end==================  */
	/* =================15.blog section start================== */

	.cf-right-card {
		padding: 0;
	}

	/* =================15.blog section end================== */

	/* =================16.single blog section start================== */
	.author-card {
		padding: 40px;
	}

	.author-card-wrapper {
		padding: 0px;
		padding-top: 15px;
		text-align: center;
	}

	.author-card-wrapper .social-link-wrapper ul {
		justify-content: center;
		margin-top: 15px;
	}

	/* =================16.single blog section end================== */

	/* =================17.application section start================== */
	.application-section,
	.cta-section {
		min-height: 500px;
	}

	/* =================17.application section end================== */

	/* =================26.view cart section start================== */
	.cf-right-card.view-card-right-wrapper {
		padding: 40px 30px;
	}

	/* =================26.view cart section end================== */


	/* =================29.footer section start================== */
	.copy-right-info {
		text-align: center;
	}

	.about-footer-info {
		max-width: 100%;
	}

	/* =================29.footer section end================== */

}

@media (max-width: 767.98px) {

	/* =================4.header area section start================== */
	.left-navbar {
		flex-basis: 30%;
	}

	.cart-btn-info {
		display: none !important;
	}

	.rotate-text-wrapper {
		display: none !important;
	}

	/* =================4.header area section end================== */
	/* =================5.banner area section start================== */
	.hot-deal-caption {
		height: 125px;
	}

	.hot-deal-slider {
		height: 125px;
	}

	/* =================5.banner area section end================== */
	/* =================8.special section start================== */
	.product-content,
	.cw-card-content {
		padding: 25px 15px;
	}

	.product-list-info,
	.cw-card-content-info {
		min-height: auto;
	}

	.cw-card-content-info {
		margin-bottom: 15px;
	}

	.special-section .nav-tabs {
		flex-direction: unset !important;
	}

	.special-section .nav-tabs .nav-link {
		border-bottom: 0;
		border-left: 0;
		border-right: 0;
	}

	/* =================8.special section end================== */
	/* =================15.blog section start================== */
	.blog-content-info {
		min-height: auto;
	}
	/* =================15.blog section end================== */

	/* =================16.single blog section start================== */
	.comment-author-wrapper {
		max-width: 400px;
	}

	/* =================16.single blog section end================== */
	/* =================17.application section start ================== */
	.application-section,
	.cta-section {
		min-height: 400px;
	}

	/* =================17.application section end ================== */
	/* =================18.faq section start================== */
	.accordion {
		padding: 30px;
	}

	/* =================18.faq section end================== */

	/* =================28.resrvation section start================== */
	.resrvation-menu-area ul {
		flex-wrap: wrap;
		gap: 15px;
	}

	/* =================28.resrvation section end================== */
}

@media (max-width: 575.98px) {

	/* section-padding */
	.section-padding {
		padding: 40px 0;
	}

	/* =================4.header area section start================== */
	/* cart menu */
	.cart-dropdown-menu {
		left: auto;
		right: 0;
		width: 400px;
		max-width: calc(100vw - 24px);
	}

	/* =================4.header area section end================== */
	/* =================5.banner area section start================== */
	.main-title {
		font-size: 50px;
		line-height: 0.9;
	}

	.hot-deal {
		width: 100%;
	}

	.hot-deal-caption {
		display: none !important;
	}

	/* =================5.banner area section end================== */
	/* =================16.single blog section start================== */
	.author-card {
		padding: 40px 20px;
	}

	.share {
		padding-right: 0;
	}

	/* =================16.single blog section end================== */
}

@media (max-width: 479.98px) {

	/* title css*/
	.title-md {
		font-size: 20px;
	}

	.title-sm {
		font-size: 18px;
	}

	/* =================5.banner area section start================== */
	.hot-deal-slider {
		height: 115px;
	}

	/* =================5.banner area section end================== */
	/* =================23.single  product section start=================  */
	.additional-tabs .nav-item {
		flex-basis: 100%;
	}

	.add-to-card input {
		margin-bottom: 10px;
	}

	.add-to-card.btn-1.button-2 {
		margin-left: 0px !important;
	}

	/* =================23.single  product section end==================  */

}

@media (max-width: 383.98px) {

	/* =================4.header area section start================== */
	.navbar-brand svg {
		max-width: 100px;
	}

	/* =================4.header area section end================= */
	/* =================7.about us section start================== */
	.about-us-video {
		min-height: 200px;
	}

	/* =================7.about us section end================== */
	/* =================13.Why people choose us section start================== */
	.customer-info {
		padding: 10px 20px;
	}

	.customer-review {
		padding: 0 20px;
	}

	/* =================13.Why people choose us section end================= */
	/* =================17.application section start================== */
	.application-button .btn-1 {
		margin-left: 0 !important;
	}

	/* =================17.application section end================== */
	/* =================F18.faq section start================== */
	.accordion {
		padding: 15px;
	}

	/* =================18.faq section end================== */
	/* =================29.footer section start================== */
	.submit-btn {
		font-size: 12px;
	}

	/* =================29.footer section end================== */
	.offer-btn {
		width: 100%;
		margin-left: -12px;
	}

	.offer-btn-wrapper {
		width: 100%;
	}
}